<div class="content">
  <div class="header"></div>
  <div class="profile">
    <!-- <img src="/assets/header.webp" alt="header image" width="146" height="146"> -->
    <h1 class="name">Miguel Moya Ortega</h1>
    <div class="subtitle">A Full Stack Developer</div>
    <div class="links">
      <a href="https://github.com/miguelmoya1" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/github.webp" width="25" height="25" alt="github">
      </a>
      <a href="https://www.linkedin.com/in/miguelmo/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/linkedin.webp" width="25" height="25" alt="linkedin">
      </a>
      <a href="https://www.npmjs.com/~miguelmo" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/npm.webp" width="25" height="25" alt="npm">
      </a>
    </div>
  </div>
</div>