<div class="container">
  <main>
    <app-menu (changeRoute)="changeRoute($event)"></app-menu>
    <app-profile></app-profile>

    <div class="content">
      <div class="tabs-content" [@openClose] *ngIf="actualPage === 'about'">
        <app-about-me></app-about-me>
      </div>
      <div class="tabs-content" [@openClose] *ngIf="actualPage === 'resume'">
        <app-resume></app-resume>
      </div>
      <div class="tabs-content" [@openClose] *ngIf="actualPage === 'aptitudes'">
        <app-aptitudes></app-aptitudes>
      </div>
      <div class="tabs-content" [@openClose] *ngIf="actualPage === 'contact'">
        <app-contact></app-contact>
      </div>
    </div>

  </main>
</div>

<app-background></app-background>