.chip {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  border-radius: 999rem;
  border-color: #0141ff;
  border-width: 1px;
  cursor: pointer;
  min-width: 3rem;
  text-align: center;

  font-size: x-small;
}
