@import "../shared/style.scss";

.languages,
.coding,
.programming {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.aptitude {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  h2 {
    transition: 1s;
    color: transparent;
  }

  &:hover {
    h2 {
      color: $primary;
    }
  }
}

@media only screen and (min-width: 375px) {
  .languages,
  .programming,
  .coding {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1440px) {
  .coding {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
