.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  gap: var(--mmo-sys-spacing-medium);
  margin: var(--mmo-sys-spacing-large) 0;
}
