.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--mmo-sys-spacing);

  margin: var(--mmo-sys-spacing) calc(var(--mmo-sys-spacing) / 2);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mmo-sys-spacing);
}
