.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--mmo-sys-spacing-medium);
  gap: var(--mmo-sys-spacing-medium);

  margin: var(--mmo-sys-spacing-medium) var(--mmo-sys-small);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--mmo-sys-spacing-medium);
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .nav {
    flex-direction: row;
  }
}
