/* FILEPATH: /workspaces/miguelmoya1/web/components/card/card.module.css */

.card {
  position: relative;
  width: min(400px, 100%);
  padding: var(--mmo-sys-spacing-medium);

  color: var(--mmo-sys-color-primary);
}

.card__title {
  font-weight: bold;
  margin-bottom: calc(var(--mmo-sys-spacing-medium));

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 300%;
}

.card__description {
  font-size: var(--mmo-sys-font-small);
}

.card__extra-info {
  position: absolute;
  top: var(--mmo-sys-spacing-medium);
  right: var(--mmo-sys-spacing-medium);
  color: var(--mmo-sys-color-primary);

  padding: var(--mmo-sys-spacing-tiny) var(--mmo-sys-spacing-small);
  border-radius: var(--mmo-sys-spacing-small);
  border: 1px solid var(--mmo-sys-color-primary);

  font-size: var(--mmo-sys-font-tiny);

  &.card__extra-info--old {
    color: color-mix(in srgb, var(--mmo-sys-color-primary) 40%, transparent);
    border-color: color-mix(in srgb, var(--mmo-sys-color-primary) 40%, transparent);
  }
}
