@import "../../shared/style.scss";

.content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;

  .item {
    display: flex;

    margin: 1rem 0;

    .header {
      color: $primary;
      text-transform: uppercase;
      width: 35%;
    }

    .value {
      color: $white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .content {
    grid-template-columns: 1fr 1fr;

    .item {
      .header {
        width: 30% !important;
      }
    }
  }
}
