@import "../../shared/style.scss";

.content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;

  .item {
    height: 3rem;
    display: flex;
    align-items: center;

    .header {
      color: $primary;
      text-transform: uppercase;
      width: 6.5rem;
    }

    .value {
      color: $white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}
