:root {
  --mmo-sys-transition: 0.5s ease-in-out;
  --mmo-sys-spacing: 1rem;

  /***************************************
   * Variables for the theme and spacing *
   ***************************************/

  --mmo-sys-color-primary: #a8c7faff;
  --mmo-sys-color-shadow: #00000000;

  --mmo-sys-spacing-border-radius: 0.5rem;

  .retro {
    --mmo-sys-color-primary: #00960080;
    --mmo-sys-color-shadow: #00960080;

    --mmo-sys-spacing-border-radius: 0.1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: var(--mmo-sys-color-primary);
  font-size: 24px;

  transition: color var(--mmo-sys-transition);
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}
