@import "../shared/style.scss";

.content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin-left: 1rem;
    text-transform: capitalize;
    color: $white;
  }

  .right {
    display: flex;
    align-items: center;

    .line {
      height: 2px;
      width: 3rem;
      background-color: $primary;
    }

    .number {
      color: $white;
      font-size: 4rem;
    }
  }
}
