@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

div {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
}
