/* You can add global styles to this file, and also import other style files */
@import "./app/shared/style.scss";

html,
body {
  height: 100%;
  background-color: $background;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

circle {
  stroke: $primary !important;
}
