/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body.red {
  .text-primary {
    @apply text-red-500;
  }

  .bg-primary {
    @apply bg-red-500;
  }

  .hover\:text-primary:hover {
    @apply hover:text-red-500;
  }

  .hover\:bg-primary:hover {
    @apply hover:bg-red-500;
  }

  .\!text-primary {
    @apply text-red-500;
  }

  .border-primary {
    @apply border-red-500;
  }
}

body.blue {
  .text-primary {
    @apply text-blue-500;
  }

  .bg-primary {
    @apply bg-blue-500;
  }

  .hover\:text-primary:hover {
    @apply hover:text-blue-500;
  }

  .hover\:bg-primary:hover {
    @apply hover:bg-blue-500;
  }

  .\!text-primary {
    @apply text-blue-500;
  }

  .border-primary {
    @apply border-blue-500;
  }
}

body.green {
  .text-primary {
    @apply text-green-500;
  }

  .bg-primary {
    @apply bg-green-500;
  }

  .hover\:text-primary:hover {
    @apply hover:text-green-500;
  }

  .hover\:bg-primary:hover {
    @apply hover:bg-green-500;
  }

  .\!text-primary {
    @apply text-green-500;
  }

  .border-primary {
    @apply border-green-500;
  }
}

body {
  .text-primary {
    @apply text-blue-500;
    @apply transition duration-500 ease-in-out;
  }

  .bg-primary {
    @apply bg-blue-500;
    @apply transition duration-500 ease-in-out;
  }

  .hover\:text-primary:hover {
    @apply hover:text-blue-500;
    @apply transition duration-500 ease-in-out;
  }

  .hover\:bg-primary:hover {
    @apply hover:bg-blue-500;
    @apply transition duration-500 ease-in-out;
  }

  .\!text-primary {
    @apply text-blue-500;
    @apply transition duration-500 ease-in-out;
  }

  .border-primary {
    @apply border-blue-500;
    @apply transition duration-500 ease-in-out;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
}

@keyframes goTop {
  0% {
    bottom: -30%;
  }
  100% {
    bottom: 120%;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  margin-bottom: 20vh;
  min-height: 100vh;
}

section:last-child {
  margin-bottom: 0;
}

.animation-hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 2s ease-in-out;
}

.animation-visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .animation-hidden {
    transition: none;
  }
}
