<div class="content">
  <app-title [title]="title" [number]="1"></app-title>
  <div class="container">
    <div class="mid-content">
      <img src="/assets/header.webp" alt="about image">
      <div class="info">
        <div class="description">
          My name is Miguel Moya Ortega. I'm a Full Stack Developer based in San Vicente del Rapeig, Spain, and I'm very
          passionate and dedicated to my work. With {{date}} years experience as a professional Full Stack Developer, I
          have
          acquired the skills necesary to build great and premium websites, apps and services.
        </div>
        <div class="personal"></div>
      </div>
    </div>
  </div>
</div>