@import "../../shared/style.scss";

@keyframes goTop {
  0% {
    bottom: -30%;
  }
  100% {
    bottom: 120%;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: 0;

  overflow: hidden;

  .box {
    background-color: $primary;
    position: absolute;
    opacity: 0.1;
    border-radius: 8px;
  }
}
